In [47]:
import pandas as pd

# Prerequisites to /notebooks/eda-1.pynb

- Go to this [link](https://www.kaggle.com/datasets/robikscube/flight-delay-dataset-20182022) and download the dataset.
- Add 2021 datasets to directory <code> /datasets/Flights_2021/ </code>.
- Create a directory <code> /datasets/Flights_2021/ </code> to save the output.

In [48]:
airports_to_filter = ('DFW','CLT','ORD','DEN','ALT','SEA','PHX','LAX','DTW','IAH','SLC','PHL','MDW','SFO','BWI')
columns_to_use = ("Year",
          "Quarter",
          "Month",
          "DayofMonth",
          "DayOfWeek",
          "DistanceGroup",
          "Operating_Airline ",
          "TaxiIn",
          "Marketing_Airline_Network",
          "FlightDate",
          "OriginAirportID",
          "Origin",
          "DestAirportID",
          "Dest",
          "CRSDepTime",
          "DepTime",
          "DepDelayMinutes",
          "DepDel15",
          "CRSArrTime",
          "ArrTime",
          "ArrDelayMinutes",
          "ArrDel15",
          "Cancelled")

Filter the dataset using <b>usecols</b> while reading it into pandas.

In [49]:
df = pd.read_csv('../datasets/Flights_2021/Flights_2021_1.csv', usecols=columns_to_use, index_col=False, low_memory=False)

In [50]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operating_Airline,OriginAirportID,Origin,...,DepTime,DepDelayMinutes,DepDel15,TaxiIn,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,Cancelled,DistanceGroup
0,2021,1,1,2,6,2021-01-02,DL,9E,11193,CVG,...,733.0,3.0,0.0,13.0,939,927.0,0.0,0.0,0.0,4
1,2021,1,1,3,7,2021-01-03,DL,9E,11193,CVG,...,727.0,0.0,0.0,10.0,939,924.0,0.0,0.0,0.0,4
2,2021,1,1,4,1,2021-01-04,DL,9E,11193,CVG,...,737.0,7.0,0.0,7.0,939,938.0,0.0,0.0,0.0,4
3,2021,1,1,7,4,2021-01-07,DL,9E,11193,CVG,...,1710.0,0.0,0.0,5.0,1912,1911.0,0.0,0.0,0.0,4
4,2021,1,1,8,5,2021-01-08,DL,9E,11193,CVG,...,1711.0,0.0,0.0,6.0,1912,1926.0,14.0,0.0,0.0,4

In [51]:
df.shape

(379384, 23)

# Remove flights that were cancelled

In [52]:
cancelled_condition = (df['Cancelled']==1.0)
df.drop(df[cancelled_condition].index,inplace=True)

In [53]:
df.shape

(375229, 23)

# Filter Origin and Destination
We have filtered the dataset to use only the top 15 busiest airport in the United States.

In [54]:
df = df[df["Origin"].isin(airports_to_filter)]
df = df[df["Dest"].isin(airports_to_filter)]

In [55]:
df.shape

(33937, 23)

# Function

In [56]:
def eda(csv_file):
    df = pd.read_csv('../datasets/Flights_2021/'+csv_file+'.csv', usecols=columns_to_use, index_col=False, low_memory=False)
    # Remove cancelled flights
    cancelled_condition = (df['Cancelled']==1.0)
    df.drop(df[cancelled_condition].index,inplace=True)
    # Filter by airport
    df = df[df["Origin"].isin(airports_to_filter)]
    df = df[df["Dest"].isin(airports_to_filter)]
    df.drop(['Cancelled'], axis=1, inplace=True)
    df.to_csv('../datasets/Flights_2021-eda1/'+csv_file+'.csv')
    return csv_file

In [57]:
files = [f'Flights_2021_{i}' for i in range(1, 13)]
print(files)

['Flights_2021_1', 'Flights_2021_2', 'Flights_2021_3', 'Flights_2021_4', 'Flights_2021_5', 'Flights_2021_6', 'Flights_2021_7', 'Flights_2021_8', 'Flights_2021_9', 'Flights_2021_10', 'Flights_2021_11', 'Flights_2021_12']

In [58]:
for f in files:
    eda(f)

# Merge all csv to one

In [59]:
file_paths = [f'../datasets/Flights_2021-eda1/Flights_2021_{i}.csv' for i in range(1,13)]
print(file_paths)

['../datasets/Flights_2021-eda1/Flights_2021_1.csv', '../datasets/Flights_2021-eda1/Flights_2021_2.csv', '../datasets/Flights_2021-eda1/Flights_2021_3.csv', '../datasets/Flights_2021-eda1/Flights_2021_4.csv', '../datasets/Flights_2021-eda1/Flights_2021_5.csv', '../datasets/Flights_2021-eda1/Flights_2021_6.csv', '../datasets/Flights_2021-eda1/Flights_2021_7.csv', '../datasets/Flights_2021-eda1/Flights_2021_8.csv', '../datasets/Flights_2021-eda1/Flights_2021_9.csv', '../datasets/Flights_2021-eda1/Flights_2021_10.csv', '../datasets/Flights_2021-eda1/Flights_2021_11.csv', '../datasets/Flights_2021-eda1/Flights_2021_12.csv']

In [60]:
_df = [pd.read_csv(f) for f in file_paths]

In [61]:
merged_df = pd.concat(_df, ignore_index=True)

In [62]:
merged_df.shape

(538051, 23)

In [63]:
merged_df.columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Marketing_Airline_Network', 'Operating_Airline ',
       'OriginAirportID', 'Origin', 'DestAirportID', 'Dest', 'CRSDepTime',
       'DepTime', 'DepDelayMinutes', 'DepDel15', 'TaxiIn', 'CRSArrTime',
       'ArrTime', 'ArrDelayMinutes', 'ArrDel15', 'DistanceGroup'],
      dtype='object')

In [64]:
merged_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [65]:
merged_df.shape

(538051, 22)

In [66]:
merged_df.to_csv('../datasets/flights_2021_all.csv')