In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('/Users/biraj/Desktop/Github/flight-prediction-api/datasets/Flights_2021/Flights_2021_1.csv')

/var/folders/yl/xw6g0vqx5cqfc51vfpmd7m1m0000gn/T/ipykernel_15120/1638981450.py:1: DtypeWarning: Columns (11,13,86,93) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/biraj/Desktop/Github/flight-prediction-api/datasets/Flights_2021/Flights_2021_1.csv')

In [19]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2021,1,1,2,6,2021-01-02,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2021,1,1,3,7,2021-01-03,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2021,1,1,4,1,2021-01-04,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2021,1,1,7,4,2021-01-07,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2021,1,1,8,5,2021-01-08,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [20]:
df['Cancelled'].value_counts()

0.0    375229
1.0      4155
Name: Cancelled, dtype: int64

In [21]:
df[df['Cancelled']==1.0]

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
43,2021,1,1,25,1,2021-01-25,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
491,2021,1,1,19,2,2021-01-19,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
498,2021,1,1,31,7,2021-01-31,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
509,2021,1,1,19,2,2021-01-19,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
516,2021,1,1,31,7,2021-01-31,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379325,2021,1,1,31,7,2021-01-31,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
379328,2021,1,1,31,7,2021-01-31,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
379332,2021,1,1,31,7,2021-01-31,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
379373,2021,1,1,26,2,2021-01-26,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
379381,2021,1,1,31,7,2021-01-31,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [5]:
df['ArrDel15'].value_counts()

0.0    443410
1.0     93572
Name: ArrDel15, dtype: int64

In [17]:
df[df['ArrDelayMinutes']<15]

,Unnamed: 0,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,...,relative_humidity_2m,dew_point_2m,precipitation,rain,snowfall,weather_code,surface_pressure,cloud_cover,wind_speed_10m,wind_direction_10m
0,0,2021,1,1,5,2021-01-05,11298,DFW,11433,DTW,...,71.312126,3.6810,0.0,0.0,0.0,0.0,1000.82007,0.000000,8.496305,126.384445
1,1,2021,1,1,5,2021-01-05,11298,DFW,11057,CLT,...,71.312126,3.6810,0.0,0.0,0.0,0.0,1000.82007,0.000000,8.496305,126.384445
2,2,2021,1,1,5,2021-01-05,11298,DFW,12892,LAX,...,71.312126,3.6810,0.0,0.0,0.0,0.0,1000.82007,0.000000,8.496305,126.384445
3,3,2021,1,1,5,2021-01-05,11298,DFW,11433,DTW,...,71.312126,3.6810,0.0,0.0,0.0,0.0,1000.82007,0.000000,8.496305,126.384445
4,4,2021,1,1,6,2021-01-06,11298,DFW,11433,DTW,...,94.646515,13.7810,1.4,1.4,0.0,61.0,991.41290,100.000000,15.463244,192.094740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538035,538035,2021,4,12,2,2021-12-02,12266,IAH,13930,ORD,...,94.298580,12.7760,0.0,0.0,0.0,1.0,1017.52360,29.400002,8.647496,182.385900
538036,538036,2021,4,12,2,2021-12-02,14100,PHL,13930,ORD,...,90.519000,5.9455,0.1,0.1,0.0,51.0,1015.87620,98.100006,8.280000,180.000000
538037,538037,2021,4,12,2,2021-12-02,14771,SFO,12266,IAH,...,87.316605,10.3875,0.0,0.0,0.0,0.0,1018.77810,0.000000,7.072878,104.743614
538038,538038,2021,4,12,2,2021-12-02,14771,SFO,11292,DEN,...,87.316605,10.3875,0.0,0.0,0.0,0.0,1018.77810,0.000000,7.072878,104.743614
538039,538039,2021,4,12,2,2021-12-02,14107,PHX,12266,IAH,...,21.735890,-2.9960,0.0,0.0,0.0,0.0,977.79205,0.000000,6.214563,259.992100

In [22]:
df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       ...
       'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID', 'Div5WheelsOn',
       'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum',
       'Duplicate', 'Unnamed: 119'],
      dtype='object', length=120)